canvas{
    width:100%;
    height: 100%;
    background: #000;
}

body,html{
    height: 100%;
    margin:0;
}

.info{
    color:#ffff;
    font-family: Times New Roman, Times, serif;
    text-align: center;
    margin:0;
}

.ui.secondary.pointing.menu {
    margin-left: 0;
    margin-right: 0;
    color:#ffff;
    background: #000;
    margin-bottom: 0;
    padding: 0.7%;
}

.ui.secondary.pointing.menu .item {
    color:#fff;
}

.ui.secondary.pointing.menu .item:hover {
    color:rgb(167, 172, 173)!important;
}

.ui.secondary.pointing.menu .active.item {
    color: rgba(9, 241, 40, 0.95);
}

.logo, .infoText{
    pointer-events: none;
}